## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nishihara,JP,26.1842,127.7558,65.48,77,100,10.36,overcast clouds
1,1,Nanortalik,GL,60.1432,-45.2371,30.07,80,100,5.70,overcast clouds
2,2,Qianan,CN,44.9932,124.0581,-8.28,100,38,3.02,scattered clouds
3,3,Jamestown,US,42.0970,-79.2353,51.12,45,100,17.27,overcast clouds
4,4,Barcelos,PT,41.5388,-8.6151,59.92,88,100,2.77,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Mogotes,CO,6.4756,-72.9705,75.92,54,100,6.20,overcast clouds
11,11,Port Blair,IN,11.6667,92.7500,77.04,83,40,0.00,mist
15,15,Makakilo City,US,21.3469,-158.0858,75.61,78,0,4.61,clear sky
16,16,Rikitea,PF,-23.1203,-134.9692,79.07,73,8,17.52,clear sky
17,17,Lompoc,US,34.6391,-120.4579,83.12,42,0,4.61,clear sky
18,18,Carnarvon,AU,-24.8667,113.6333,80.67,74,75,4.61,broken clouds
24,24,Vaini,TO,-21.2000,-175.2000,78.96,94,40,4.61,scattered clouds
25,25,Gabu,GW,12.2833,-14.2167,88.99,8,2,6.06,clear sky
27,27,Banjar,ID,-8.1900,114.9675,78.66,94,100,1.81,overcast clouds
28,28,Lorengau,PG,-2.0226,147.2712,81.64,78,100,10.89,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Mogotes,CO,75.92,overcast clouds,6.4756,-72.9705,
11,Port Blair,IN,77.04,mist,11.6667,92.7500,
15,Makakilo City,US,75.61,clear sky,21.3469,-158.0858,
16,Rikitea,PF,79.07,clear sky,-23.1203,-134.9692,
17,Lompoc,US,83.12,clear sky,34.6391,-120.4579,
18,Carnarvon,AU,80.67,broken clouds,-24.8667,113.6333,
24,Vaini,TO,78.96,scattered clouds,-21.2000,-175.2000,
25,Gabu,GW,88.99,clear sky,12.2833,-14.2167,
27,Banjar,ID,78.66,overcast clouds,-8.1900,114.9675,
28,Lorengau,PG,81.64,overcast clouds,-2.0226,147.2712,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace()
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Mogotes,CO,75.92,overcast clouds,6.4756,-72.9705,Hostal Hacienda Villarreal
11,Port Blair,IN,77.04,mist,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
15,Makakilo City,US,75.61,clear sky,21.3469,-158.0858,Marriott's Ko Olina Beach Club
16,Rikitea,PF,79.07,clear sky,-23.1203,-134.9692,People ThankYou
17,Lompoc,US,83.12,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"

In [12]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and </dt><dd>{Max Temp} °F</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))